DATABASE_URL="postgresql://chainpass:chainpass_dev@localhost:55432/chainpass"

JWT_SECRET="replace-me"

CHAIN_RPC_URL=""
CHAIN_ID="11155111"
CHAINPASS_CONTRACT_ADDRESS="0xbA3e9bCbe448E928c5e71f4bE6415E7e0e3E5ABb"
DEPLOYER_PRIVATE_KEY=""

BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3001"
WEB_ORIGIN="http://localhost:3000"
QR_VERIFICATION_SECRET="replace-with-at-least-32-random-characters"
